RewriteEngine On


<IfModule mod_headers.c>
    Header set Access-Control-Allow-Headers "Cache-Control"
</IfModule>


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^/$ index.php?paths=$1 [L,QSA]
RewriteRule ^(.*)$ index.php?paths=$1 [L,QSA]

<Files "*.json">
    Order Deny,Allow
    Deny from all
</Files>
